<div class="recoverUserFormContainer row">
	<div class="col-sm-12" style="padding:0px;">
		<div class="alert alert-danger" ng-hide="validUserData" style="margin-bottom:2px;">Invalid User Details</div>
		<div class="alert alert-success" ng-hide="!passwdResetSuccess" style="margin-bottom:2px;">Password reset success now you can <a ui-sref="authenticateUser.login" class="link">Login</a></div>
		<div class="alert alert-danger" ng-hide="!passwdResetFailed" style="margin-bottom:2px;">Error occured in resetting please try again</div>
	</div>
	<div ng-hide="!hidePasswdResetForm">
		<div class="col-sm-12 text-left loginHeader">
			<span>Forgot Username/Password</span>
		</div>
		<div class="col-sm-12">
			<form name="recoverUserForm" ng-submit="getCredentials($event)" novalidate class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-3 text-left" for="email" style="text-align: left;">Email:</label>
					<div class="col-sm-9">
				     	<input type="email" name="email" ng-model-options="{ updateOn: 'blur' }" ng-model="checkUser.email" placeholder="Enter your email" class="form-control" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
				     	<span style="color:red" ng-show="(submitted || recoverUserForm.email.$dirty) && recoverUserForm.email.$invalid">
				     		<span ng-show="recoverUserForm.email.$error.required">email is required.</span>
				     	</span>
				     	<span style="color:red" ng-show="recoverUserForm.email.$touched && recoverUserForm.email.$error.pattern">Invalid email</span>
				    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3 text-left" for="dob" style="text-align: left;">Date of Birth:</label>
					<div class="col-sm-9">
				     	<input type="date" name="dob" ng-model-options="{ updateOn: 'blur' }" ng-model="checkUser.dob" placeholder="Enter your dob" class="form-control" required>
				     	<span style="color:red" ng-show="(submitted || recoverUserForm.dob.$dirty)  && recoverUserForm.dob.$invalid">
				     		<span ng-show="recoverUserForm.dob.$error.required">dob is required.</span>
				     	</span>
				    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3 text-left" for="mobile" style="text-align: left;">Phone Number:</label>
					<div class="col-sm-9">
				     	<input type="number" name="mobile" ng-model-options="{ updateOn: 'blur' }" ng-model="checkUser.mobile" placeholder="Enter your mobile" class="form-control" ng-pattern="/^[0-9]{10,10}$/" required>
				     	<span style="color:red" ng-show="(submitted || recoverUserForm.mobile.$dirty) && recoverUserForm.mobile.$invalid">
				     		<span ng-show="recoverUserForm.mobile.$error.required">Phone No. is required.</span>
				     	</span>
				     	<span style="color:red" ng-show="recoverUserForm.mobile.$touched && recoverUserForm.mobile.$error.pattern">Invalid Phone Number</span>
				    </div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<a ui-sref="authenticateUser.login" class="btn btn-primary pull-left">Login</a>
						<input type="submit" value="Submit Data" class="btn btn-primary pull-right">
					</div>
				</div>
				<div class="form-group">
					<span class="control-label col-sm-12 signUpLabel">Don't have an account!<a ui-sref="authenticateUser.signUp">Sign Up Here</a></span>
				</div>
			</form>
		</div>
	</div>

	<div ng-hide="hidePasswdResetForm">
		<div class="col-sm-12 text-left loginHeader">
			<span>Set New Password</span>
		</div>
		<div class="col-sm-12">
			<form name="setNewPasswdForm" ng-submit="setNewPassword($event)" novalidate class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-3 text-left" for="password" style="text-align: left;">password:</label>
					<div class="col-sm-9">
				     	<input type="password" name="password" ng-model-options="{ updateOn: 'blur' }" ng-model="newPasswd.password" placeholder="Enter New password" class="form-control" ng-minlength="5" ng-change="cpassword=''" required>
				     	<span style="color:red" ng-show="setNewPasswdForm.password.$dirty && setNewPasswdForm.password.$invalid">
				     		<span ng-show="setNewPasswdForm.password.$error.required">Password is required.</span>
				     	</span>
				     	<span style="color:red" ng-show="setNewPasswdForm.password.$touched && setNewPasswdForm.password.$error.minlength">Password should have atleast 5 characters</span>
				    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3 text-left" for="cpassword" style="text-align: left;">Confirm password:</label>
					<div class="col-sm-9">
				     	<input type="password" name="cpassword" ng-model="newPasswd.cpassword" placeholder="Confirm New Password" class="form-control" pw-check="password" required>
				     	<span style="color:red" ng-show="setNewPasswdForm.cpassword.$dirty && setNewPasswdForm.cpassword.$invalid">
				     		<span ng-show="setNewPasswdForm.cpassword.$error.required">Password should be confirmed.</span>
				     	</span>
				     	<span style="color:red" ng-show="setNewPasswdForm.cpassword.$dirty && setNewPasswdForm.cpassword.$error.pwmatch && !setNewPasswdForm.cpassword.$error.required">Passwords don't match.</span>
				    </div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<a ui-sref="authenticateUser.login" class="btn btn-primary pull-left">Cancel</a>
						<input type="submit" value="Reset Password" class="btn btn-primary pull-right" ng-disabled="setNewPasswdForm.password.$invalid || setNewPasswdForm.cpassword.$invalid">
					</div>
				</div>
				<div class="form-group">
					<span class="control-label col-sm-12 signUpLabel">Don't have an account!<a ui-sref="authenticateUser.signUp">Sign Up Here</a></span>
				</div>
			</form>
		</div>
	</div>
</div>