<% if(redirectToLogin){ %>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
<% } %>
<div class="loginFormContainer row" ng-controller="loginController">
	<div class="col-sm-12" style="padding:0px;">
		<div class="alert alert-danger" ng-hide="validUser" style="margin-bottom:2px;"><span ng-bind="loginError"></span></span></div>
	</div>
	<div class="col-sm-12 text-left loginHeader">
		<span>Sign In</span>
	</div>
	<div class="col-sm-12">
		<form name="loginForm" ng-submit="login($event)" novalidate class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-3 text-left" for="username" style="text-align: left;">Username:</label>
				<div class="col-sm-9">
			     	<input type="text" name="username" ng-model="user.username" placeholder="Enter your Username" class="form-control" required>
			     	<span style="color:red" ng-show="loginForm.username.$touched && loginForm.username.$invalid">
			     		<span ng-show="loginForm.username.$error.required">Username is required.</span>
			     	</span>
			    </div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3 text-left" for="password" style="text-align: left;">password:</label>
				<div class="col-sm-9">
			     	<input type="password" name="password" ng-model="user.password" placeholder="Enter your password" class="form-control" required>
			     	<span style="color:red" ng-show="loginForm.password.$touched && loginForm.password.$invalid">
			     		<span ng-show="loginForm.password.$error.required">Password is required.</span>
			     	</span>
			    </div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3" for="password"></label>
				<div class="col-sm-9">
					<input type="submit" value="Submit" class="btn btn-primary pull-right submitBtn" ng-disabled="loginForm.userName.$invalid || loginForm.password.$invalid">
					<a ui-sref="authenticateUser.recoverCredentials" class="link pull-right">Forgot password?</a>
				</div>
			</div>
			<div class="form-group">
				<span class="control-label col-sm-12 signUpLabel">Don't have an account!<a ui-sref="authenticateUser.signUp">Sign Up Here</a></span>
			</div>
		</form>
	</div>
</div>

<% if(redirectToLogin){ %>
	</div>
	<div class="col-md-3"></div>
</div>
<% } %>