<% include ../../partials/Design/Design %>
<% include ../../partials/User/UserProfile.ejs %>
<div class="form-horizontal">
	<div class="form-group">
		<label for="elements" class="col-sm-2">Select the Element:</label>
		<div class="col-sm-4">
			<select class="form-control" id="elements">

			</select>
		</div>
	</div>
</div>
<div class="element-container col-lg-6 pull-left">
	
</div>
<div class="style-container col-lg-6 pull-left">
	
</div>